<h1>{{title}}</h1>

<form action="{% url 'notify:addsubreddit' %}" method="post">
	{% csrf_token %}
	<input type='text' name='subreddit' />
	<br>
	<input type='submit' value='Add subreddit' />
</form>
<br>
<br>

{% for sr,keywords in subreddits.items %}
	<b>Subreddit: {{sr}}</b>
	<br>
	Keywords: 
	{% for kw in keywords %}
		{{kw}},
	{% endfor %}
	<form action="{% url 'notify:addkeywords' sr %}" method="post">
		{% csrf_token %}
		<input type='text' name='keywords' />
		<br>
		<input type='submit' value='Add keywords' />
	</form>
{% endfor %}
<br>